/** @type {import("dependency-cruiser").IConfiguration} */
module.exports = {
  forbidden: [
    {
      name: "no-circular",
      severity: "error",
      from: {},
      to: { circular: true },
    },
    {
      name: "no-unresolvable",
      severity: "error",
      from: {},
      to: { couldNotResolve: true },
    },
    {
      name: "shared-not-to-upper-layers",
      severity: "error",
      from: { path: "^src/shared/" },
      to: { path: "^src/(app|pages|widgets|features|entities)/" },
    },
    {
      name: "entities-not-to-upper-layers",
      severity: "error",
      from: { path: "^src/entities/" },
      to: { path: "^src/(app|pages|widgets|features)/" },
    },
    {
      name: "features-not-to-upper-layers",
      severity: "error",
      from: { path: "^src/features/" },
      to: { path: "^src/(app|pages|widgets)/" },
    },
    {
      name: "widgets-not-to-upper-layers",
      severity: "error",
      from: { path: "^src/widgets/" },
      to: { path: "^src/(app|pages)/" },
    },
    {
      name: "pages-not-to-app",
      severity: "error",
      from: { path: "^src/pages/" },
      to: { path: "^src/app/" },
    },
  ],
  options: {
    doNotFollow: { path: "node_modules" },
    includeOnly: "^src/",
    tsConfig: { fileName: "tsconfig.app.json" },
    tsPreCompilationDeps: true,
  },
};
