{
  "include": ["src", "tests"],
  "exclude": ["**/__pycache__", ".venv", "build", "dist"],
  "typeCheckingMode": "strict",
  "pythonVersion": "3.12",
  "venvPath": ".",
  "venv": ".venv",
  "reportMissingTypeStubs": "warning"
}
